{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        // "semi": "off",
        "quotes": ["warn", "double"],
        "eol-last": "off",
        "linebreak-style": "off",
        "require-jsdoc": "off",
        "arrow-parens": "off",
        "comma-dangle": "off",
        "object-curly-spacing": ["warn", "always"],
        "indent": ["warn", 2]
    },
    "extends": ["eslint:recommended", "google"]
}